<h2 class="sub-header">Users</h2>
<div class="table-responsive">
    <table ng-table="tableParams" show-filter="true" class="table table-striped">
        <tr ng-repeat="user in $data">
            <td data-title="'Email'" filter="{ 'email': 'text' }" sortable="'email'" >
                <a href="#/user/{{user.email}}">{{user.email}}</a>
            </td>
            <td data-title="'Randos'" sortable="'randos'">
                {{user.randos}}
            </td>
        </tr>
    </table>
</div>
